{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/task.css')}}">{% endblock %} {# Chemin relatif au directory public #}

{% block title %}Todolist{% endblock %}

{% block body %}
    <h1 class="text-center">TODOLIST</h1>

    {{ form_start(form) }}
    {{ form_row(form.description,{'attr' : {'placeholder' : "Ajoutez votre tache"} }) }}
    <button type="submit" class="btn btn-success">Ajouter</button>
    {{ form_end(form) }}

    {% for task in tasks %}
    {% if task.completionDate is null %}
        <div class="task">
            <p>{{ task.description }} créé le {{ task.creationDate|date('d-m-Y à H:i:s') }}</p> 
            <div class="images">
                <a href="{{ path('complete', {id : task.id}) }}"><img class="image" src="{{asset('assets/images/check.png')}}" alt="validate" /></a>
                <a href="{{ path('delete', {id : task.id}) }}"><img class="image" src="{{asset('assets/images/remove.png')}}" alt="remove" /></a>
            </div>
        </div>
    {% endif %}
    {% endfor %}

    <a class="resolved" href="#">Voir les tâches résolues</a>
{% endblock %}
